{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Mail System</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body id = "bg" style="background-image: url('{% static 'img/a.jpeg'%}')";>
	
	<div class = "row">
    	<div class = "col m4 offset-m4"> 
			<div class = "mycard">
				<div class = "card">
					<div class = "row">
	                	<div class = "col m4 offset-m4"> 
	                    <span class = "card-title" >Log In</span>
	                </div>
	                </div>	
					<div class = "card-content">
						<form id = "login_form" method = "post" action = "/mail_system/login/">
							{% csrf_token %}
							<input type = "text" name = "username" value = "" size = "50" placeholder = "Username"/>
							<input type = "password" name = "password" value = "" size = "50" placeholder="Password"/>
							<div class = "row">
	                        	<div class = "col m4 offset-m4"> 
	                            	<button class="btn waves-effect waves-light" type="submit">Submit
	                                	<i class="material-icons right">send</i>
	                                </button>
	                            </div>
	                        </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>