{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mail System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>

    <body>

        {% if registered %}
        Mail System says: <strong>thank you for registering!</strong>
        {% else %}
        
		<div class = "mycard">
            <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <div class="card">
                    <div class="card-block">
                    <h4 class="card-title">Sign Up</h4>
                        <form id="user_form" method="post" action="/mail_system/register/"
                                enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ user_form.as_p }}
                            {{ registered_users_form.as_p }}
                           
                            <input type="submit" name="submit" value="Register" class = "btn btn-primary" /> 
                        </form>
                     </div>  
                </div>
            </div>
        </div>
        </div>
        {% endif %}

    </body>
</html>