{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
		{% csrf_token %}
	<title>{{current_user}}-Spam</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
   <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	  
	
</head>
<body id = "bg" style="background-image: url('{% static 'img/IMG_358033.jpg'%}')";>
	{% csrf_token %}
	<div class = "row">
		<div class = "col m8 offset-m2">	
			<table class="highlight">
				<thead>
		          <tr>
		          	  <th data-field="id">#</th>
		          	  <th data-field="id">From</th>
		              <th data-field="name">Subject</th>
		              <th data-field="price">Content</th>
		          </tr>
		        </thead>
				{% for mail in mails %}
					<div >
						<tbody>
				        	<tr class="move_to_inbox">
				        		<td class = "id">{{mail.mail.id}}</td>
				        		<td>{{mail.sender.username}}</td>
				        		<td>{{mail.mail.subject}}</td>
				            	<td>{{mail.mail.content}}</td>	            				          		
				          	</tr>
				       	</tbody>
				      </div>
				
			    {% endfor %}
			</table>
		</div>
	</div>
</body>
	<script>
		$(".move_to_inbox").click(function(){
			console.log("click");
			$(this).css("display", "none");
			
			var data = $(this).children( 'td.id' ).html();
			$.ajax({
			  url: "move_to_inbox",
			  method: "get",
			  data: data,
			  context: document.body
			}).done(function() {
			  $( this ).addClass( "done" );
			});
		})
	</script>


</html>